$themePrimary: #d7192d;
$themeLighterAlt: #fdf4f5;
$themeLighter: #f8d5d9;
$themeLight: #f3b3b9;
$themeTertiary: #e76d79;
$themeSecondary: #db3142;
$themeDarkAlt: #c11728;
$themeDark: #a31422;
$themeDarker: #780e19;
$neutralLighterAlt: #e7e7e7;
$neutralLighter: #e3e3e3;
$neutralLight: #dadada;
$neutralQuaternaryAlt: #cbcbcb;
$neutralQuaternary: #c2c2c2;
$neutralTertiaryAlt: #bababa;
$neutralTertiary: #d6d6d6;
$neutralSecondary: #aeaeae;
$neutralPrimaryAlt: #888888;
$neutralPrimary: #777777;
$neutralDark: #5b5b5b;
$black: #434343;
$white: #ffffff;
