$general-border-px: 1px;

$maxheightdropdown-callout-rem: 19rem;

$margin-container-rem:  0 0 1rem 0;
$padding-container-rem: 0.7rem;

$padding-form-field-rem: 0.5rem 0 0.5rem 0;
$padding-table-container-rem: 0.5rem;
$padding-table-cell-rem: 0.6rem 0.3rem;
$padding-buttons-group-rem: 0.4rem 0;

$xss-measure-rem: 0.1rem;
$xs-measure-rem: 0.5rem;
$sm-measure-rem: 1rem;
