@import '~office-ui-fabric-react/dist/sass/References';
@import '~office-ui-fabric-react/dist/sass/Grid';
@import '~office-ui-fabric-react/dist/sass/Responsive';
@import '../../../styles/colorsPalette';
@import '../../../styles/customStyles';
@import '../../../styles/variables';

.frameContainer {
  font-family: $ms-font-family-fallbacks;
  background-color: $white;
  padding: $padding-container-rem;

  &__title {
    font-weight: 400;
    }

  &__children {
    padding: 1rem 0;
  }
}
